<launch>
	<arg name="2pi" value="6.28318531" />
	<arg name="pi" value="3.14159265" />
	<arg name="pi_2" value="1.57079633" />

	<node
		pkg="tf"
		type="static_transform_publisher"
		name="openni_depth_frame_to_openni_depth_tracking_frame"
		output="screen"
		args="0 0 0 $(arg pi_2) 0 $(arg pi_2) /openni_depth_frame /openni_depth_tracking_frame 100" />
	<node
		pkg="tf"
		type="static_transform_publisher"
		name="world_to_openni_camera"
		output="screen"
		args="0 0 1 0 0 0 /world /openni_camera 100" />
</launch>
