<launch>
    <arg name="pkg" value="proxemic_recognizers" />
    <arg name="type" value="psychophysical_recognizer" />
    <arg name="name" default="$(arg type)" />
    <arg name="rate" default="30" />
    <arg name="args" value="_loop_rate:=$(arg rate) ~humanoid_states:=/humanoid_aggregator/humanoid_states_agg" />
    <arg name="manager" default="manager" />
    <arg name="nodelet" default="false" />

    <rosparam param="/proxemics/psychophysical" command="load" file="$(find proxemic_models)/params/psychophysical.yaml" />

    <node
        if="$(arg nodelet)"
        pkg="nodelet"
        type="nodelet"
        name="$(arg name)"
        args="load $(arg pkg)/$(arg type) $(arg manager) $(arg args)"
        output="screen" />

    <node
        unless="$(arg nodelet)"
        pkg="$(arg pkg)"
        type="$(arg type)_node"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />
</launch>
