<launch>
  
  <node pkg="tf" type="static_transform_publisher" name="world_to_shoulder_r_tf" args="0 0 0 0 0 0 /world SHOULDER_RIGHT 100" />
  <node pkg="tf" type="static_transform_publisher" name="world_to_elbow_r_tf" args="0 1 0 0 0 0 /world ELBOW_RIGHT 100" />
  <node pkg="tf" type="static_transform_publisher" name="world_to_wrist_r_tf" args="0 1 -1 0 0 0 /world WRIST_RIGHT 100" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_hand_r_tf" args="0 0 1 0 0 0 /world HAND_RIGHT 100" /> -->

  <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_shoulder_l_tf" args="0 0 0 0 0 0 /world SHOULDER_LEFT 100" /> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_elbow_l_tf" args="0 0 1 0 0 0 /world ELBOW_LEFT 100" /> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_wrist_l_tf" args="0 0 1 0 0 0 /world WRIST_LEFT 100" /> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_hand_l_tf" args="0 0 1 0 0 0 /world HAND_LEFT 100" /> -->
  
</launch>