 <launch>

  <arg name="dummy_tf" default="false" />
  <arg name="openni" default="false" />
  <arg name="kinect_bridge" default="false" />
  <arg name="visualize" default="false" />

  <group if="$(arg kinect_bridge)" >

    <!-- Kinect Bridge Client -->
    <include file="$(find joint_position_publisher)/launch/joint_position_publisher.launch" >
      <arg name="server_ip" value="192.168.2.199" />
    </include>
    
    <!-- Load structural information for the chains that we will be retargeting -->
     <rosparam param="tf_retargeter/chain_info" command="load" file="$(find kinematic_retargeting)/params/sparky_kinect_bridge.yaml" />

  </group>
  
  <group if="$(arg dummy_tf)" >

    <!-- A bunch of static_transform_publishers -->
    <include file="$(find kinematic_retargeting)/launch/dummy_transforms.launch" />
    
     <rosparam param="tf_retargeter/chain_info" command="load" file="$(find kinematic_retargeting)/params/sparky_dummy.yaml" />

  </group>
  
  <group if="$(arg openni)" >
    
    <include file="$(find openni_launch)/launch/openni.launch" />

    <node pkg="openni_tracker" type="openni_tracker" name="openni_tracker" />

    <node pkg="tf" type="static_transform_publisher" name="world_to_openni_tf"
    	  args="0 0 0 0 0 0 /world /openni_depth_frame 100" />

    <rosparam param="tf_retargeter/chain_info" command="load" file="$(find kinematic_retargeting)/params/sparky_openni.yaml" /> 

  </group>

  <!-- Retargeting node -->  
  <include file="$(find kinematic_retargeting)/launch/tf_retargeter.launch" />

  <group if="$(arg visualize)" >
    <node pkg="rviz" type="rviz" name="retargeter_visualization" />
  </group>
  
</launch>