 <launch>

  <arg name="dummy_tf" default="false" />
  <arg name="openni" default="false" />
  <arg name="kinect_bridge" default="false" />
  <arg name="visualize" default="false" />
  <arg name="sparky" default="false" />
  <arg name="wiimote" default="true" />
  
  <arg name="kb_server_ip" default="192.168.2.199" />

  <arg name="urdf_filename" default="$(find sparky_driver)/urdf/sparky.urdf"/>

  <remap from="tf_retargeter/joy" to="/joy" />

  <!-- Direct retargeter output to sparky driver input -->
  <remap from="sparky_driver/joint_angles" to="tf_retargeter/retargeted_joint_states" />

  <group if="$(arg kinect_bridge)" >

    <!-- Kinect Bridge Client -->
    <include file="$(find joint_position_publisher)/launch/joint_position_publisher.launch" >
      <arg name="server_ip" value="$(arg kb_server_ip)" />
    </include>
    
    <!-- Load structural information for the chains that we will be retargeting -->
     <rosparam param="tf_retargeter/chain_info" command="load" file="$(find kinematic_retargeting)/params/sparky_kinect_bridge.yaml" />

  </group>
  
  <group if="$(arg dummy_tf)" >

    <!-- A bunch of static_transform_publishers -->
    <include file="$(find kinematic_retargeting)/launch/dummy_transforms.launch" />
    
     <rosparam param="tf_retargeter/chain_info" command="load" file="$(find kinematic_retargeting)/params/sparky_dummy.yaml" />

  </group>
  
  <group if="$(arg openni)" >
    
    <include file="$(find openni_launch)/launch/openni.launch" />

    <node pkg="openni_tracker" type="openni_tracker" name="openni_tracker" />

    <node pkg="tf" type="static_transform_publisher" name="world_to_openni_tf"
    	  args="0 0 0 0 0 0 /world /openni_depth_frame 100" />

    <rosparam param="tf_retargeter/chain_info" command="load" file="$(find kinematic_retargeting)/params/sparky_openni.yaml" /> 

  </group>

  <group if="$(arg sparky)" >

    <include file="$(find sparky_driver)/launch/sparky_driver.launch" >
      <arg name="urdf_filename" value="$(arg urdf_filename)" />
    </include>

    <node pkg="tf" type="static_transform_publisher" name="world_to_sparky_world_tf" args="0 0 0 0 0 0 /world /sparky/world 100" />

  </group>
  
  <!-- Retargeting node -->  
  <include file="$(find kinematic_retargeting)/launch/tf_retargeter.launch" >
    <arg name="target_urdf" value="$(arg urdf_filename)" />
  </include>

  <!-- Wiimote -->
  <group if="$(arg wiimote)" >
    <node pkg="wiimote" type="wiimote_node.py" name="wiimote" output="screen" />
  </group>

  <param name="tf_retargeter/use_wiimote" value="$(arg wiimote)" />
  
  <!-- RVIZ -->
  <group if="$(arg visualize)" >
    <node pkg="rviz" type="rviz" name="retargeter_visualization" />
  </group>
  
</launch>