<launch>
  <arg name="pkg" value="kinematic_retargeting" />
  <arg name="type" default="tf_retargeter" />
  <arg name="name" default="$(arg type)" />
  <arg name="rate" default="30" />
  <arg name="ee_weight" default="50" />
  <!-- <arg name="cost_weight" default="50" /> -->
  
  <!-- Node publishes to /tf_retargeter/target_joint_states -->
  
  <arg name="target_urdf" default="$(find kinematic_retargeting)/urdf/sparky_gazebo.urdf"/>
  
  <arg name="args" value="_loop_rate:=$(arg rate)
			  _target_urdf:=$(arg target_urdf)
			  _ee_weight:=$(arg ee_weight)"
			   />
  <!-- _cost_weight:=$(arg cost_weight) -->
  

  
  <node
      pkg="$(arg pkg)"
      type="$(arg type)_node"
      name="$(arg name)"
      args="$(arg args)"
      output="screen" />
  
</launch>
