<launch>
    <arg name="mirror" default="false" />

    <arg name="pkg" value="arm_pose_recognizer" />
    <arg name="type" default="test_arm_pose_recognizer" />
    <arg name="name" default="$(arg type)" />
    <arg name="rate" default="30" />
    <arg name="args" value="_loop_rate:=$(arg rate) _mirror:=$(arg mirror) ~evaluate_pose:=/arm_pose_recognizer/evaluate_pose" />
    <node
        pkg="$(arg pkg)"
        type="$(arg type)_node"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />
</launch>
