Source: ros-electric-interaction-quickdev-0
Section: unknown
Priority: extra
Maintainer: Edward T. Kaszubski <ekaszubski@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, pkg-config, ros-electric-desktop-full, ros-electric-joystick-drivers, libgsl0-dev
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/ros-electric-interaction-quickdev-0.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ros-electric-interaction-quickdev-0.git;a=summary

Package: ros-electric-interaction-quickdev-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-electric-desktop-full, ros-electric-joystick-drivers, libgsl0ldbl
Description: A package designed to speed up code implementation
 Provides:
 - Enhanced makefiles
 - Policy paradigm with implementations for commonly-used functionaltiy including:
   - tf listener/publisher
   - service server/client
   - action server/client
   - image pipeline
 - Transparent nodelet wrapper - turn nodes into nodelets with zero overhead
 - MultiPublisher and MultiSubscriber objects to group IO objects and remove clutter
