<launch>
  <arg name="world_frame_name" default="/world" />
	<node pkg="tf" type="static_transform_publisher" name="head_to_frame1" args="1 0  1 0 0 0 $(arg world_frame_name) /frame1 100" />
	<node pkg="tf" type="static_transform_publisher" name="head_to_frame2" args="1 1  1 0 0 0 $(arg world_frame_name) /frame2 100" />
	<node pkg="tf" type="static_transform_publisher" name="head_to_frame3" args="3 -2 2 0 0 0 $(arg world_frame_name) /frame3 100" />
	<node pkg="tf" type="static_transform_publisher" name="head_to_frame4" args="3 -1 2 0 0 0 $(arg world_frame_name) /frame4 100" />
	<node pkg="tf" type="static_transform_publisher" name="head_to_frame5" args="1 -1 0 0 0 0 $(arg world_frame_name) /frame5 100" />
</launch>
