<launch>
    <arg name="user_id" default="1"/>
    <arg name="output_path" default=""/>

    <arg name="pkg" value="tfdump" />
    <arg name="type" value="tf_dump" />
    <arg name="name" default="$(arg type)" />
    <arg name="rate" default="30" />
    <arg name="args" value="_loop_rate:=$(arg rate) _user_name:=user$(arg user_id) _output_path:=$(arg output_path) ~humanoid_states:=/humanoid_aggregator/humanoid_states_agg" />
    <arg name="manager" default="manager" />
    <arg name="nodelet" default="false" />
    <node
        if="$(arg nodelet)"
        pkg="nodelet"
        type="nodelet"
        name="$(arg name)"
        args="load $(arg pkg)/$(arg type) $(arg manager) $(arg args)"
        output="screen" />
    <node
        unless="$(arg nodelet)"
        pkg="$(arg pkg)"
        type="$(arg type)_node"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />
</launch>
