<robot name="sparky">

<resource type="stl_meshes" location="/home/gavin/usc-cturtle/stacks/interaction_ros_pkg/sparky/sparky_model/meshes
"/>

<link name="world" />


<link name="stand">

<inertial>
		<mass value="5"/>
		<inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
		<origin/>
	</inertial>
	<visual>
	<origin xyz="0 0 0" rpy="0 0 -1.57" />
		 <material name="grey" >
      <color rgba=".2 .2 .2 .2" />
  </material>
	<geometry>
		<mesh filename="package://sparky_model/meshes/Stand.stl"  />
	</geometry>
	</visual>
	    <collision>
      <origin xyz="0 0 0" rpy="0 0 0 " />
      <geometry name="stand">
        <mesh filename="package://sparky_model/meshes/Stand.stl"   />
      </geometry>
    </collision>

</link>	

  <gazebo reference="stand">
<material>Gazebo/Black</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  
  	<joint name="standWorld_joint" type="fixed">
		<parent link="world"/>
		<origin xyz="0 0 13" rpy="0 0 0"/>
		<child link="stand"/>
	</joint>
	



</robot>
