<launch>
	<!--include file="$(find oculesics_controllers)/launch/test_frames.launch" /-->
	<node
		pkg="oculesics_controllers"
		type="probabilistic_oculesics_controller"
		name="probabilistic_oculesics_controller"
		output="screen"
		args="_world_frame_name:=/world _frame1_name:=/oculesics_target _frame1_probability:=1.0 _look_time/min:=0.01 _look_time/max:=0.01" />
</launch>
