<launch>
	<arg name="rate" default="30" />
	<arg name="manager" default="manager" />
	<arg name="nodelet" default="true" />

	<include file="$(find deictic_recognizers)/launch/deictic_recognizer.launch">
		<arg name="rate" value="$(arg rate)" />
		<arg name="manager" value="$(arg manager)" />
		<arg name="nodelet" value="$(arg nodelet)" />
	</include>
	<include file="$(find deictic_recognizers)/launch/mcneil_recognizer.launch">
		<arg name="rate" value="$(arg rate)" />
		<arg name="manager" value="$(arg manager)" />
		<arg name="nodelet" value="$(arg nodelet)" />
	</include>
</launch>
