Source: ros-electric-interaction-p2os
Section: unknown
Priority: extra
Maintainer: Edward T. Kaszubski <ekaszubski@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, ros-electric-interaction-quickdev
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/ros-electric-interaction-p2os.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ros-electric-interaction-p2os.git;a=summary

Package: ros-electric-interaction-p2os
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-electric-interaction-quickdev
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
